


.Header {
    
}


.Container {
    background-color: blueviolet;
    margin-right: auto;
    margin-left: auto;

    /*padding-left: 6px;
    padding-right: 6px;*/ 

    @media (min-width: 768px) {
        /*width: 732px;*/
        background-color: rgb(226, 43, 98);
    }

    @media (min-width: 992px) {
        /*width: 952px;*/
        background-color: rgb(89, 226, 43);
    }

    @media (min-width: 1200px) {
        /*width: 1152px;*/
        background-color: rgb(43, 208, 226);
    }

}


